/* Strippit Widget CSS */

.bg-success {
	background-color: #a5f5a5;
}
.bg-danger {
	background-color: #ff8b87;
}

#strippit-widget {
	zoom: 1.4;
    transform-origin: 0 0;
    transform: scaleX(1) scaleY(1.4) translate3d(0,0,0);
}

/* -- Widget Body -- */
#strippit-widget span.btn {
	height: 40px;
	border: black 1px solid;
}
#strippit-widget .btn-group > .btn:not(:first-child) {
	border-left: none;
}
#strippit-widget span.glyphicon,
#strippit-widget span.fa {
	font-weight: normal;
}

#strippit-widget .hilite-red {
	background-color: #8b0000;
}

/* -- in/mm Button -- */
#strippit-inmm {
	position: absolute;
	top: 130px;
	right: 377px;
	/*top: 375px;
	left: 385px;*/
	/* width: 80px; */
}
/*#strippit-inmm span.btn-home {
	padding-top: 7px;
	padding-bottom: 7px;
}*/
#strippit-inmm span.btnInMm {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 14px;
	font-weight: normal;
	height: 44px;
	width: 80px;
}

/* -- Feedstop Button -- */
#strippit-feedstop {
	position: absolute;
	top: 18px;
	left: 36px;
	z-index: 1005;
}
#strippit-feedstop span.btn {
	width: 160px;
	height: 90px;
	padding: 19px 15px;
	font-size: 27px;
	font-weight: bold;
}
#strippit-feedstop .material-icons {
	position: relative;
	top: 2px;
	right: 2px;
}
/* -- DRO -- */
#strippit-dro {
	position: absolute;
	top: 15px;
	right: 12px;
	width: 770px;
	/*border: 1px dashed red;*/
}
/* -- Axis Home Buttons -- */
/*#strippit-dro .btn-strippit-dro-xy .btn-home-y{
	position: absolute;
	top: 0;
	right: 635px;
	width: 60px;
	height: 38px;
}
#strippit-dro-y .btn-home-y {
	top: 40px;
}*/
#strippit-dro .dro-well {
    overflow: hidden;
    margin-bottom: 0;
    padding: 3px 16px;
}
/* -- Axis Label Well -- */
#strippit-dro div span.dro-label-well {
	position: absolute;
	top: 0;
	right: 445px;
	width: 80px;
	height: 44px;
    /*border-top-right-radius: 0;
    border-bottom-right-radius: 0;*/
    margin-bottom: 0;
    margin-right: -1px;
    background-color: white;
	padding: 6px;
	box-shadow: none;
	-webkit-box-shadow: none;
}
#strippit-dro div.y-axis span.dro-label-well {
	margin-top: 12px;
	top: 40px;
}
#strippit-dro .dro-label {
    padding: 0;
    margin: 0;
}
#strippit-dro .dro-label-well {
	background-size: 200% 200%;
	background-position: 50%;
	transition: all 0.4s;
}
#strippit-dro .dro-label-well:hover {
    background-color: #f0f0f0;
}
#strippit-dro .dro-label-well:active {
	background-color: #e0e0e0;
	background-image: -webkit-radial-gradient(circle, #e0e0e0 10%, #fff 11%);
	/*background-image: -o-radial-gradient(circle, #e0e0e0 10%, #fff 11%);*/
	background-image: radial-gradient(circle, #e0e0e0 10%, #fff 11%);
	background-repeat: no-repeat;
	-webkit-background-size: 1000% 1000%;
	background-size: 1000% 1000%;
	-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 8px rgba(0,0,0,0.4);
}
#strippit-dro .dro-label-well h2 {
    text-align: center;
    width: 44px;
	font-size: 28px;
}
/* -- Axis Position Value -- */
#strippit-dro .dro-pos-well {
	position: absolute;
	top: 0;
	right: 0;
	width: 445px;
	height: 44px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border: 1px solid black;
	padding: 3px 16px 0px 16px;
}
#strippit-dro .axis-limits-label {
	position: absolute;
	top: 0;
	left: 0;
	width: 90px;
	height: 100%;
	font-size: 14px;
}
#strippit-dro .axis-limits-label span {
	position: absolute;
	width: 100%;
	text-align: center;
}
#strippit-dro .dro-pos-well h2 span {
	font-size: 32px;
}
#strippit-dro .min-limit-label {
	top: 0;
}
#strippit-dro .max-limit-label {
	bottom: 0;
}
#strippit-dro .text-limit-label {
	top: 16px;
	font-size: 9px;
}
#strippit-dro .y-axis .dro-pos-well {
	margin-top: 6px;
	top: 46px;
}
#strippit-dro .dro-pos {
    padding: 0 0 0 225px;
    margin: 0;
}

/* -- Save Position -- */
#strippit-savepos {
	position: absolute;
	top: 115px;
	left: 35px;
	width: 210px;
	/*border: 1px dashed blue;*/
}
#strippit-savepos div.btn-header {
	position: absolute;
	top: 0;
	width: 100%;
	/*border: 1px dashed red;*/
}
#strippit-savepos div.step-btns {
	position: absolute;
	top: 250px;
	left: 100%;
	width: 100px;
	/*border: 1px dashed green;*/
}
#strippit-savepos .btn-header .control-btns {
	position: absolute;
	top: 300px;
	left: 100%;
	width: 150px;
}
#strippit-savepos div.left-btns,
#strippit-savepos div.middle-left-btns,
#strippit-savepos div.middle-right-btns,
#strippit-savepos div.right-btns {
	position: absolute;
	top: 40px;
	width: 33%;
}
#strippit-savepos .left-btns .btn,
#strippit-savepos .middle-left-btns .btn,
#strippit-savepos .middle-right-btns .btn,
#strippit-savepos .right-btns .btn {
	border: dashed;
	width: 64%;
	margin-top: 10px;
	margin-bottom: 0;
	color: #444444;
	/*color: #e9e9e9;*/
	/* margin-right: 10px; */
	text-align: center;
	padding: 6px 0px;
}
#strippit-savepos div.left-btns {
	left: 0;
}
#strippit-savepos div.middle-left-btns {
	left: 25%;
}
#strippit-savepos div.middle-right-btns {
	left: 50%;
}
#strippit-savepos div.right-btns {
	left: 75%;
}
#strippit-savepos div.left-btns span.btn.slot-active,
#strippit-savepos div.middle-left-btns span.btn.slot-active,
#strippit-savepos div.middle-right-btns span.btn.slot-active,
#strippit-savepos div.right-btns span.btn.slot-active {
	border: solid;
	background-color: #a5f5a5;
	color: #444444;
}
#strippit-savepos div.left-btns .btn.slot-filled,
#strippit-savepos div.middle-left-btns .btn.slot-filled,
#strippit-savepos div.middle-right-btns .btn.slot-filled,
#strippit-savepos div.right-btns .btn.slot-filled {
	background-color: #f5a5f5;
	color: #444444;
}

/* -- Jog Controls -- */
#strippit-jog {
	position: absolute;
	top: 135px;
	left: 250px;
	width: 230px;
	height: 100px;
	/*border: 1px dashed blue;*/
}
#strippit-jog .jog-left-btns {
	position: absolute;
	top: 0;
	left: 0;
	width: 33.33%;
	height: 100%;
	/*border: 1px dashed red;*/
}
#strippit-jog .jog-middle-btns {
	position: absolute;
	top: 0;
	left: 33.33%;
	width: 33.33%;
	height: 100%;
	/*border: 1px dashed green;*/
}
#strippit-jog .jog-right-btns {
	position: absolute;
	top: 0;
	right: 0;
	width: 33.33%;
	height: 100%;
	/*border: 1px dashed orange;*/
}
#strippit-jog .jog-left-btns > span, #strippit-jog .btn-jog-yneg, #strippit-jog .jog-right-btns > span {
	width: 88%;
	/*height: 34px;*/
	margin-top: 10px;
}
#strippit-jog .btn-jog-y {
	width: 88%;
	/*height: 34px;*/
}
#strippit-jog .jog-left-btns div, #strippit-jog .jog-right-btns div {
	width: 88%;
	/*border: 1px dashed black;*/
}
.jog-left-btns div > span, .jog-right-btns div > span {
	width: 50%;
	/*height: 34px;*/
}

/* -- Die Size Selector -- */
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: 0.8;
    z-index: 1001;
}
.strippit-die-size {
	position: fixed;
	top: 228px;
	left: 275px;
	/*width: 400px;*/
	/*height: 250px;*/
	background-color: #fff;
	opacity: 1;
	z-index: 1002;
	padding: 7px;
	border-radius: 3px;
}
.strippit-die-size .die-size-label {
	display: block;
	text-align: center;
	margin-bottom: 3px;
}
.strippit-die-size .die-size {
	width: 70px;
}

/* -- Calculator -- */
#strippit-calc {
	position: absolute;
	top: 130px;
	right: 12px;
	width: 350px;
	height: 330px;
	/*border: 1px dashed green;*/
}
#strippit-calc div.calc-display-well {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 44px;
    overflow: hidden;
    margin-bottom: 0;
	/*padding: 3px 16px;*/
    padding: 0px 16px;
	border: 1px solid black;
	border-radius: 3px;
}
#strippit-calc h2.calc-value {
	position: absolute;
	right: 70px;
	/*font-size: 32px;*/
	font-family: '24 Segment';
	letter-spacing: 2px;
	font-size: 34px;
}
#strippit-calc div.calc-buttons {
	position: absolute;
	top: 45px;
	left: 0;
	width: 104%;
	height: 100%;
	/*border: 1px dashed red;*/
}
#strippit-calc div.calc-buttons > div {
	width: 33%;
	/*width: 25%;*/
	height: 150%;
	/*border: 1px dashed green;*/
}
#strippit-calc div.column-1 {
	position: absolute;
	top: 0;
	left: 0;
}
#strippit-calc div.column-2 {
	position: absolute;
	top: 0;
	left: 33%;
	/*left: 25%;*/
}
#strippit-calc div.column-3 {
	position: absolute;
	top: 0;
	left: 67%;
	/*left: 50%;*/
}
#strippit-calc div.column-4 {
	position: absolute;
	top: 0;
	left: 75%;
}
#strippit-calc div.calc-buttons > div > span.btn { /* all calc btns except recall-x and recall-y */
	width: 88%;
	height: 46px;
	/*height: 44px;*/
	margin-top: 10px;
	font-weight: bold;
	font-size: 24px;
	padding: 0px 16px;
}
#strippit-calc div.column-4 > div.recall-btns {
	width: 88%;
}
#strippit-calc div.column-4 > div.recall-btns > span.btn {
	width: 50%;
	height: 44px;
	margin-top: 12px;
}
#strippit-calc .btn-number {
	background-color: #f5f5f5;
}
#strippit-calc span.btn-unavailable {
	border: 1px dashed;
	-webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
	color: #e9e9e9;
}
#strippit-calc span.btn-unavailable > span.badge {
	color: #ffffff;
	background-color: #e9e9e9;
	/*background-color: #e9e9e9;*/
}


#strippit-dro-body .col {
    padding: 0;
}

#strippit-dro-ftr .hilite {
    background-color: #dff0d8;
}

#strippit-dro-ftr .hiliteblue {
    background-color: #d9edf7;
}

.rotate90 {
    display: block;
    -webkit-transform: rotate(-90deg);
    -webkit-font-smoothing: none;
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.btnincrements .btn {
    font-size: 9px;
    padding: 1px 3px;
}

#strippit-dro-body .dro-menu {
    /* z-index: 2; */
    position: absolute;
    left: 3px;
    top: 3px;
}

.dro-menu > .btn {
    border: 0;
}

.dro-dim {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 13px;
}
.xyz-dimmed {
    color: #e9e9e9;
}

.xyz-limitswitch {
    color: #804040;
    font-size: 11px;
}

.xyz-active {
    color: black;
}

.flatbottom {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0 solid red;
}

.flattop {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.flatleft {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.flatright {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.btn-nobg {
    background: none;
    border: none;
}

.btn-nobg:hover {
    background: none;
    border: none;
}
.btn-active {
	background-color: #a5f5a5;
	/*background-color: #dff0d8;*/
}

#strippit-dro .btnIconWarning {
    color: #f0ad4e;
}

#strippit-dro .xyz-number {
    position: absolute;
    top: -4px;
    left: 28px;
    width: 70%;
    z-index: 10;
}

.dro-label,
.dro-pos {
    font-size: 24px;
}
